[Unit]
Description=SoundWire Server
After=network.target sound.target

[Service]
Type=simple
WorkingDirectory=/opt/SoundWireServer/
ExecStart=/usr/bin/env QT_QPA_PLATFORM=offscreen ./SoundWireServer -nogui
Restart=on-failure

[Install]
WantedBy=default.target
